  <div class="input-group inline-form-grp">
    <div class="custom-file">
        <input type="file" class="custom-file-input" (change)="onFileSelected($event)" >
        <label class="custom-file-label shadow" >{{fileName}}</label>  
      </div>
  <span class="grouped-btn shadow">
    <button class="btn btn-info set-height" type="submit" (click)="SubmitFile()" value="Search">Submit</button> 
 
   
  </span>
  </div>
  <div class="card" style="width: 18rem;">
   
    
      
     
   <br><br>   <a [routerLink] ="['/submitted-user-file']" href="#" class="btn btn-primary stretched-link">{{fileSubmittedMessage}}</a>
    </div>
 
   
