<div class="about-section paddingTB60 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-6">
        <div class="about-title clearfix">
          <h1> <span>Dispose Tracker</span></h1>
          <h3>A Portal to analyze PortalProfiler Logs</h3>
          <p class="about-paddingB">
           As we Know, <a href="https://asrdwiki.siemens.com/tiapdev/index.php/PortalProfiler">PortalProfiler</a> allows tracking of .net Applications and used for used for detecting of non-disposed disposable instances.
           It allows user to save summary of non-disposed objects since start of application in  a NotePad file.
           Sometimes it becomes difficult sometimes to analyze the NotePad File and that's where Dispose Tracker makes it easy.
          </p>
          <p>
          Dipose Tracker allows user to upload the summary file of Portal Profiler and analyze it in efficent way.
          </p>
          <div class="about-icons"></div>
        </div>
      </div>
    </div>
  </div>
</div>
